body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;

    width: 100%;
    height: 60px;
    top: 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: #F4F7FA;
}

#cart_counter {
    display: flex;
    align-items: center;

    width: max-content;
    height: 3em;
    padding: 0 1em 0 1em;
    font-variant-numeric: tabular-nums;
    background-color: white;
    white-space: pre;

    text-align: center;
    border-radius: 10em;
    font-weight: 600;   
}

.button {
    display: flex;
    align-items: center;

    width: max-content;
    height: 3em;
    padding: 0 1em 0 1em;
    background-color: white;
    border: none;

    text-align: center;
    border-radius: 10em;
    font-weight: 600;   

    transition: background-color 0.4s, box-shadow 0.5s;

    &:hover{
        cursor: pointer;
        background-color: #0E6C9C;
        color: white;
        box-shadow: 0em 0em 5px 2px rgba(14, 108, 156, 0.25)
    }
}

.buy_button {
    background-color: #F4F7FA;
    border: 0.11em solid #0E6C9C
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    
    padding: 1em;

    border: 0.2em solid #0E6C9C;
    border-radius: 1em;
}

#products {
    padding: 1em;
    box-sizing: border-box;
}

.product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 0.2em solid #79848a;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.product_info h1 {
    font-size: large;
    height: min-content;
    margin: 0.2em;
}

.product_info p {
    height: min-content;
    margin: 0.2em;
}

.product img {
    display: block;
    width: 10em;
    height: 14em;
}

