body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;

    width: 100%;
    height: 60px;
    top: 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: #F4F7FA;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.button {
    display: flex;
    align-items: center;

    width: max-content;
    height: 3em;
    padding: 0 1em 0 1em;
    background-color: white;
    border: none;

    text-align: center;
    border-radius: 10em;
    font-size: 0.9rem;
    font-weight: 600;   

    transition: background-color 0.4s, box-shadow 0.5s;

    &:hover{
        cursor: pointer;
        background-color: #0E6C9C;
        color: white;
        box-shadow: 0em 0em 5px 2px rgba(14, 108, 156, 0.25)
    }
}

#cart-counter {
    display: flex;
    box-sizing:border-box;
    align-items: center;

    width: max-content;
    height: 3em;
    padding: 0 1em 0 1em;
    background-color: white;
    border: none;

    text-align: center;
    border-radius: 10em;
    font-weight: 600;   
    font-size: 0.9rem;
}

.buy-button {
    background-color: #F4F7FA;
    border: 0.11em solid #0E6C9C
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    
    padding: 1em;

    border: 0.2em solid #0E6C9C;
    border-radius: 1em;
}

#products {
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 0.2em solid #79848a;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.product-info h1 {
    font-size: large;
    height: min-content;
    margin: 0.2em;
}

.product-info p {
    height: min-content;
    margin: 0.2em;
}

.product img {
    display: block;
    width: max-content / 2;
    height: 14em;
}

#cart-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
    padding: 1em;

    background-color: #F4F7FA;
    border-top: 0.2em solid #0E6C9C;
    border-left: 0.2em solid #0E6C9C;
    border-bottom: 0.2em solid #0E6C9C;
}

.product-cart-item {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    height: max-content;
    padding: 1em;
    background-color: #79848a;
    color: #F4F7FA;
    
    border: 0.2em solid #0E6C9C;
    border-radius: 1em;
}

.product-cart-item h3 {
}

.product-cart-item p {
    align-content: center;
}

.notif {
    position: absolute;
    top: 1em;
    left: 1em;

    width: 15em;
    padding: 1em;
    border-radius: 1em;
    font-weight: 600;   

    border: 0.2em solid #79848a;
}

.error {
    background-color: #e5533d;
    color: #F4F7FA;
}

.receipt {
    background-color: #0E6C9C;
    color: #F4F7FA;
}

.receipt-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-circle {
    width: 3em;
    height: 3em;
    justify-content: center;
    
    background-color: white;
    border: none;

    text-align: center;
    border-radius: 10em;
    font-weight: 600;   


    &:hover{
        cursor: pointer;
    }
}
