body {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body details {
    display: block;
    position: relative;
    width: 100%;
    height: max-content;
}

#app {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;

    width: 100%;
    height: 60px;
    padding: 1em;
    box-sizing: border-box;
    background-color: #F4F7FA;
}

main {
    width: calc(100% - 1rem);
    height: 100%;

    display: grid;

    /* left grid columns + one fixed right column */
    grid-template-columns: repeat(4, calc(18.75% - 1rem)) 25%;
    grid-template-rows: auto 1fr;

    gap: 1rem;
    padding-left: 1rem;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: 3em;
    padding: 0 1em;

    background-color: white;
    color: inherit;
    border: none;

    border-radius: 10em;
    font-size: 0.9rem;
    font-weight: 600;

    transition:
        background-color 0.2s,
        color 0.2s,
        box-shadow 0.2s;
}

.button:hover,
.buy-button:hover,
#signup-button:hover,
#login-button:hover {
    cursor: pointer;
    background-color: #0E6C9C;
    color: white;
    box-shadow: 0 12px 40px rgba(0,0,0,0.18);
}

#cart-counter {
    display: flex;
    box-sizing:border-box;
    align-items: center;

    width: max-content;
    height: 3em;
    padding: 0 1em 0 1em;
    background-color: white;
    border: none;

    text-align: center;
    border-radius: 10em;
    font-weight: 600;   
    font-size: 0.9rem;
}

.buy-button {
    background-color: #F4F7FA;
    border: 0.11em solid #0E6C9C
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    
    padding: 1em;

    border: 0.2em solid #0E6C9C;
    border-radius: 1em;
}

#products {
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 0.2em solid #79848a;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.product-info h1 {
    font-size: large;
    height: min-content;
    margin: 0.2em;
}

.product-info p {
    height: min-content;
    margin: 0.2em;
}

.product img {
    display: block;
    width: max-content;
    height: 14em;
}

#cart-panel {
    grid-column: 5;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    background-color: #F4F7FA;
    border-top: 0.2em solid #0E6C9C;
    border-left: 0.2em solid #0E6C9C;
    border-bottom: 0.2em solid #0E6C9C;
}

.product-cart-item {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    height: max-content;
    padding: 1em;
    background-color: #79848a;
    color: #F4F7FA;
    
    border: 0.2em solid #0E6C9C;
    border-radius: 1em;
}

.product-cart-item p {
    align-content: center;
}

#notifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    position: absolute;
    width: 20em;
    max-height: calc(100vh - 2em);
    overflow-y: auto;
    left: 0;
    padding: 1em;
}

.notif {
    width: 90%;
    padding: 1em;
    border-radius: 1em;
    font-weight: 600;   

    box-shadow: 0em 0em 15px 5px #79848aa7;
}

.error {
    background-color: #e5533d;
    color: #F4F7FA;
}

.receipt {
    background-color: #0E6C9C;
    color: #F4F7FA;
}

.receipt-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-circle {
    width: 3em;
    height: 3em;
    justify-content: center;
    
    background-color: white;
    border: none;

    text-align: center;
    border-radius: 10em;
    font-weight: 600;

    &:hover{
        cursor: pointer;
    }
}

.product-amount-dialog {
    inset: 0;
    margin: auto;

    display: flex;
    justify-content: space-between;
    padding: 1.25em;
    width: min(380px, 90vw);

    background: #F4F7FA;
    border: 0.2em solid #0E6C9C;
    border-radius: 1.25em;

    box-shadow: 0em 0em 15px 5px #79848aa7;
}

.product-amount-dialog input {
    width: 20em;
    height: 3em;
    padding: 0 1em;

    background: white;
    color: #1f2a33;

    border: 0.11em solid #0E6C9C;
    border-radius: 10em;

    font-size: 0.95rem;
    font-weight: 600;

    outline: none;
    box-sizing: border-box;
}


/* --- Login / signup block --- */

#login-dialog {
    inset: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

#login-inputs,
#login-signup {
    display: flex;
    width: 25em;
    gap: 0.75em;
}

/* card wrapper effect for both rows */
#login-inputs {
    flex-direction: column;

    padding: 1.25em;

    background-color: #F4F7FA;
    border: 0.2em solid #0E6C9C;
    border-radius: 1.25em;

    box-shadow: 0 12px 40px rgba(0,0,0,0.18);
}

/* inputs styled to match your dialogs/buttons */
#login-inputs input {
    width: 100%;
    height: 3em;
    padding: 0 1em;

    background: white;
    color: #1f2a33;

    border: 0.11em solid #0E6C9C;
    border-radius: 10em;

    font-size: 0.95rem;
    font-weight: 600;

    outline: none;
    box-sizing: border-box;
}

#login-inputs input::placeholder {
    color: #79848a;
    font-weight: 500;
}

/* button row */
#login-signup {
    align-items: center;
    justify-content: center;

    margin-top: 0.75em;
}

#login-signup p {
    margin: 0 0.5em;
    font-weight: 600;
    color: #79848a;
}

/* make signup visually secondary, consistent with buy-button */
#login-button,
#signup-button {
    background-color: #F4F7FA;
    border: 0.11em solid #0E6C9C
}


@media (max-width: 1000px) {
    main {
        width: 100%;
        height: 100vh;

        display: grid;

        /* left grid columns + one fixed right column */
        grid-template-columns: minmax(0, 2fr) minmax(220px, 260px);
        grid-template-rows: auto 1fr;

        gap: 1rem;
    }

    main > :not(#cart-panel) {
        grid-column: 1;
    }

    #cart-panel {
        grid-column: 2;
        grid-row: 1 / -1;

        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;

        background-color: #F4F7FA;
        border-top: 0.2em solid #0E6C9C;
        border-left: 0.2em solid #0E6C9C;
        border-bottom: 0.2em solid #0E6C9C;
    }

    #login-signup {
        flex-direction: column;
        gap: 0.5em;
    }

    #login-signup p {
        display: none;
    }
}